In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
soup = BeautifulSoup(page.content, 'html.parser')

In [3]:
ranking_table = soup.find_all("div" , class_ = "rankings-block__container full rankings-table")

In [4]:
matches = soup.find_all('td' , 'table-body__cell u-center-text')
matches = [i.get_text() for i in matches]

In [5]:
count = 0
points = []
Matches = []
for i in matches:
    if count % 2 == 0:
        Matches.append(i)
    count += 1
for l in matches:
    if count % 2 == 1:
        points.append(l)
    count += 1

In [6]:
country = soup.find_all('span' , class_ = 'u-hide-phablet')

In [9]:
country = [i.get_text() for i in country]

In [15]:
country.remove('')

In [16]:
ranking = soup.find_all('td' , class_ = 'table-body__cell u-text-right rating')

In [17]:
rank = [i.get_text() for i in ranking]

In [24]:
import pandas as pd
game = pd.DataFrame({})
game["country"] = country
game["no of matches played"] = Matches
game["points"] = points
game["rank"] = rank

In [25]:
game

        country no of matches played points rank
0  South Africa                   24  2,828  118
1       England                   17  1,993  117
2         India                   20  2,226  111
3   New Zealand                   21  1,947   93
4   West Indies                   12  1,025   85
5      Pakistan                   15  1,101   73
6    Bangladesh                    5    306   61
7     Sri Lanka                   11    519   47
8       Ireland                    2     25   13