In [212]:
from bs4 import BeautifulSoup
import requests

In [213]:
page = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
soup = BeautifulSoup(page.content, 'html.parser')

In [214]:
ranking_table = soup.find_all("div" , class_ = "rankings-block__container full rankings-table")

In [215]:
matches = soup.find_all('td' , 'table-body__cell u-center-text')
matches = [i.get_text() for i in matches]

In [216]:
count = 0
points = []
Matches = []
for i in matches:
    if count % 2 == 0:
        Matches.append(i)
    count += 1
for l in matches:
    if count % 2 == 1:
        points.append(l)
    count += 1

In [217]:
points

['2,945',
 '3,344',
 '3,100',
 '2,137',
 '2,323',
 '2,438',
 '2,222',
 '1,876',
 '1,054',
 '336',
 '897',
 '588',
 '258',
 '240',
 '119',
 '190',
 '97',
 '93',
 '0']

In [218]:
Matches

['25',
 '29',
 '27',
 '20',
 '24',
 '27',
 '27',
 '24',
 '17',
 '7',
 '21',
 '15',
 '7',
 '7',
 '5',
 '9',
 '6',
 '8',
 '5']

In [287]:
country = soup.find_all('span' , class_ = 'u-hide-phablet')

In [288]:
country

[<span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">South Africa</span>,
 <span class="u-hide-phablet">Pakistan</span>,
 <span class="u-hide-phablet">Bangladesh</span>,
 <span class="u-hide-phablet">West Indies</span>,
 <span class="u-hide-phablet">Sri Lanka</span>,
 <span class="u-hide-phablet">Afghanistan</span>,
 <span class="u-hide-phablet">Netherlands</span>,
 <span class="u-hide-phablet">Ireland</span>,
 <span class="u-hide-phablet">Zimbabwe</span>,
 <span class="u-hide-phablet">Scotland</span>,
 <span class="u-hide-phablet">Oman</span>,
 <span class="u-hide-phablet">Nepal</span>,
 <span class="u-hide-phablet">UAE</span>,
 <span class="u-hide-phablet">Namibia</span>,
 <span class="u-hide-phablet">United States</span>,
 <span class="u-hide-phablet">Papua New Guinea</span>,
 <span class="icn icn-facebook-circle u-hide-phablet"></span>,
 <span class="icn icn-twitter-circle u-hide-phablet"></span>,
 <span class="icn icn-instagram-circle u-hide-phablet"></span>,
 <span class="icn icn-youtube-circle u-hide-phablet"></span>,
 <span class="icn icn-tiktok-circle u-hide-phablet"></span>]

In [289]:
country = [i.get_text() for i in country]

In [290]:
country

['New Zealand',
 'Australia',
 'India',
 'England',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan',
 'Netherlands',
 'Ireland',
 'Zimbabwe',
 'Scotland',
 'Oman',
 'Nepal',
 'UAE',
 'Namibia',
 'United States',
 'Papua New Guinea',
 '',
 '',
 '',
 '',
 '']

In [299]:
country.remove('')

In [300]:
country

['Australia',
 'India',
 'England',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan',
 'Netherlands',
 'Ireland',
 'Zimbabwe',
 'Scotland',
 'Oman',
 'Nepal',
 'UAE',
 'Namibia',
 'United States',
 'Papua New Guinea']

In [305]:
ranking = soup.find_all('td' , class_ = 'table-body__cell u-text-right rating')

In [306]:
ranking

[<td class="table-body__cell u-text-right rating">118</td>,
 <td class="table-body__cell u-text-right rating">115</td>,
 <td class="table-body__cell u-text-right rating">115</td>,
 <td class="table-body__cell u-text-right rating">107</td>,
 <td class="table-body__cell u-text-right rating">97</td>,
 <td class="table-body__cell u-text-right rating">90</td>,
 <td class="table-body__cell u-text-right rating">82</td>,
 <td class="table-body__cell u-text-right rating">78</td>,
 <td class="table-body__cell u-text-right rating">62</td>,
 <td class="table-body__cell u-text-right rating">48</td>,
 <td class="table-body__cell u-text-right rating">43</td>,
 <td class="table-body__cell u-text-right rating">39</td>,
 <td class="table-body__cell u-text-right rating">37</td>,
 <td class="table-body__cell u-text-right rating">34</td>,
 <td class="table-body__cell u-text-right rating">24</td>,
 <td class="table-body__cell u-text-right rating">21</td>,
 <td class="table-body__cell u-text-right rating">16</td>,
 <td class="table-body__cell u-text-right rating">12</td>,
 <td class="table-body__cell u-text-right rating">0</td>]

In [307]:
rank = [i.get_text() for i in ranking]

In [308]:
rank

['118',
 '115',
 '115',
 '107',
 '97',
 '90',
 '82',
 '78',
 '62',
 '48',
 '43',
 '39',
 '37',
 '34',
 '24',
 '21',
 '16',
 '12',
 '0']

In [310]:
import pandas as pd
game = pd.DataFrame({})
game["country"] = country
game["no of matches played"] = Matches
game["points"] = points
game["rank"] = rank

In [311]:
game

             country no of matches played points rank
0          Australia                   25  2,945  118
1              India                   29  3,344  115
2            England                   27  3,100  115
3       South Africa                   20  2,137  107
4           Pakistan                   24  2,323   97
5         Bangladesh                   27  2,438   90
6        West Indies                   27  2,222   82
7          Sri Lanka                   24  1,876   78
8        Afghanistan                   17  1,054   62
9        Netherlands                    7    336   48
10           Ireland                   21    897   43
11          Zimbabwe                   15    588   39
12          Scotland                    7    258   37
13              Oman                    7    240   34
14             Nepal                    5    119   24
15               UAE                    9    190   21
16           Namibia                    6     97   16
17     United States                    8     93   12
18  Papua New Guinea                    5      0    0