In [7]:
from bs4 import BeautifulSoup
import requests

In [8]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
soup = BeautifulSoup(page.content, 'html.parser')

In [15]:
Name = soup.find_all("td" , class_ = "table-body__cell rankings-table__name name")
Name = Name[:9]
Name = [i.get_text() for i in Name]

In [16]:
team = soup.find_all("span" , class_ = "table-body__logo-text")
team = team[:9]
team = [i.get_text() for i in team]

In [17]:
rating = soup.find_all("td" , class_ = "table-body__cell rating")
rating = rating[:9]
rating = [i.get_text() for i in rating]

In [18]:
import pandas as pd
game = pd.DataFrame({})
game["Name"] = Name
game["team"] = team
game["rating"] = rating

In [19]:
game

                   Name team rating
0      \nEllyse Perry\n  AUS    418
1   \nStafanie Taylor\n   WI    410
2    \nNatalie Sciver\n  ENG    349
3     \nDeepti Sharma\n  IND    343
4     \nJess Jonassen\n  AUS    307
5  \nAshleigh Gardner\n  AUS    252
6  \nDane van Niekerk\n   SA    243
7     \nSophie Devine\n   NZ    242
8       \nAmelia Kerr\n   NZ    236